* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* Header */

.headerContainer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .6);
  padding: 1em;
}

.logo-container {
  
}

.nav-container {
  display: flex;
  
}

.nav-button {
  margin: 0px 3em 0px 12px;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 26px;
  color: #fff;
}